/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header{
    background-color: #00337C;
    height: 5vh;
    display: flex;
    padding-inline: 2em;
}

.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.username {
    color: white;
    font-size: 1.5em;
}

.btn-container {
    margin-left: 1em;
}

/* MAIN */
main {
    background-color: #1C82AD;
    height: 95vh;
}

.component {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03C988;
    height: 95vh;
    border: 0.4em solid #1C82AD;
}

.inside-component {
    width: 90%;
    height: 95%;
    background-color:#13005A;
}